a {
    text-decoration: none;
    color:#F9FAf8;
}

body {
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.web {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotext {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin-right: auto;
    font-family: 'Roboto', arial;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    color: #F9FAf8;
    padding: 20px, 0, 20px, 100px;
}

.header img {
    height: 50px;
    margin-right: 25px;
    margin-left: 50px;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
    font-family: 'Roboto', arial;
}

.header li {
    padding: 20px;
    text-decoration: none;
    color: #F9FAf8;
}

.hero {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAf8;
    padding: 50px;
    font-family: "Roboto", arial;
}

.hero-1 p {
    font-size: 12px;
    color: #808080;
}

.hero-2 {
    display: flex;
    background-color: #1F2937;
}

.hero-2 img {
    height: 300px;
    margin-right: auto;
    margin-left: 40px;
    padding: 50px
}

button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 50px;
    font-family: 'Roboto', arial;
}

.content-1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    font-family: 'Roboto', arial;
}

.content-2 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    font-family: 'Roboto', arial;
}

.content-3 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    font-family: 'Roboto', arial;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 50px;
    font-family: 'Roboto', arial;
    font-size: larger;
    font-weight: bold;
}

.sign-up {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    margin: 50px 50px;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.sign-text {
    color: #fff;
    opacity: 0.8;
    margin: 5px 30px 30px 50px;
}

.sign-button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 12px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Roboto', arial;
    color: #fff;
}
